@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
body{
    color: #5bc0de;
    font-family: 'IBM Plex Serif', serif;
}
.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}
.jumbotron h1{
    font-size: 2em;
    font-weight: 400;
}
.jumbotron h1, .jumbotron p{
    text-align: center;
}
.jumbotron p{
    font-size: 1em;
}
#googlemap{
    width: 95%;
    height: 400px;
    margin: 20px auto;
}
#output{
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}